.header {
    &-section {
        padding-top: 120px;

        &__title {
            margin-bottom: 16px;
            & img {
                margin-right: 24px;
            }
        }

        &__desc {
            margin-bottom: 16px;
        }

        &__img {
            margin-top: 40px;
            & img {
                width: 100%;
                border-radius: 30px;
            }
        }

        &__buttons {
            gap: 24px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .header {
        &-section {
            padding-top: 60px;
    
            &__img {
                & img {
                    max-height: 240px;
                    object-fit: cover;
                }
            }
        }
    }
}

@media screen and (max-width: 728px) {
    .header {
        &-section {  
            &__img {
                & img {
                    max-height: 168px;
                    object-fit: cover;
                    border-radius: 15px; 
                }
            }

            &__title {
                margin-bottom: 16px;
                & img {
                    margin-right: 8px;
                    max-height: 46px;
                }
            }

            &__buttons {
                gap: 16px;
            }
        }
    }
}