// Colors
$blue-main: #2641B2;
$yellow: #FBD437;
$yellow-light: #FFFBE7;
$beige: #FFF7E7;
$black: #181818;
$blue-light: #3E5ACE;
$white: #FFFFFF;
$blue-dark: #03256C;
$very-light-blue: #F2F9FF;
$red: #F00; 
$disabled: #747474;
$green: #00AD11;
$very-light-green: #E6FFE8;